*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

.sky{
    width: 1000vw;
    height: 100vh;
    background: url(/assets/background.jpg) repeat-x;
    position: absolute;
    animation: carMoving 30s linear infinite;
}

.trees{
    width: 100vw;
    height: 81vh;
    background: url(/assets/trees.png) no-repeat;
    position: absolute;
    bottom: 11vw;
    background-size: contain;
}

.track{
    width: 600vw;
    height: 30vh;
    background: url(/assets/track.png) repeat-x;
    position: absolute;
    bottom: 0;
    background-size: contain;
    animation: carMoving 6s linear infinite;
}

.car{
    width: 220px;
    height: 63px;
    background: url(/assets/car_body.png) no-repeat;
    background-size: contain;
    position: relative;
    top: 290px;
    left: 169px;
    animation: carShake 3s linear infinite;
}

.leftWheel{
    width: 42px;
    height: 44px;
    background: url(/assets/car_wheel_left.png) no-repeat;
    background-size: contain;
    position: absolute;
    top: 22px;
    left: 26px;
    animation: tyreRotation 0.6s linear 0s infinite;
}
.rightWheel{
    width: 44px;
    height: 44px;
    background: url(/assets/car_wheel_right.png) no-repeat;
    background-size: contain;
    position: absolute;
    top: 23px;
    left: 137px;
    animation: tyreRotation 0.6s linear infinite;
}

@keyframes tyreRotation{
    100%{transform: rotate(360deg);}
}
@keyframes carMoving{
    100%{transform: translateX(-500vw);}
}
@keyframes skyMoving{
    100%{transform: translateX(-500vw);}
}
@keyframes carShake{
    0%{transform: translateY(-5px);}
    50%{transform: translateY(5px);}
    100%{transform: translateY(-5px);}
}
